/*RESET o simbolo "*" é um seletor universal
ele vai pegar todas as tags no HTML */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    }
    .card{
    width: 400px;
    height: 500px;
    font-size: 1.75rem;
    background-color: rgba(54, 30, 192, 0.801);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-radius: 5px;
    
    }
    .card h1 {
    transform: translateZ(100px);
    background-color: rgba(0, 110, 255, 0.377);
    border-radius: 1.2rem;
    }
    .card h2 {
    background-color: rgba(0, 238, 255, 0.377);
    border-radius: 1rem;
    transform: translateZ(150px);
    }
    .card h3 {
    background-color: rgba(0, 255, 85, 0.486);
    border-radius: 1rem;
    transform: translateZ(200px);
    }
    .card h4 {
    background-color: rgba(255, 60, 0, 0.486);
    border-radius: 1rem;
    transform: translateZ(250px);
    }
    .span{
    color: yellow;
    }